<div class="categories rounded-t-md bg-categories p-0">
  @for (category of categories$ | async; track $index) {
    <button
      class="link relative mx-2.5 my-0 min-h-52 cursor-pointer bg-transparent px-2.5 py-4 text-left text-sm font-medium uppercase text-primaryWhite opacity-60"
      (click)="handleCategory(category, $index)"
      [ngClass]="{ active: selectedCategoryIndex === $index }"
    >
      <img
        alt="Logo"
        class="mr-1 inline-block w-18 translate-y-3px transform align-baseline"
        src="{{ category.icon }}"
      />
      {{ category.multiLangName.en }}
      <span
        class="absolute -right-2.5 top-2 w-5 text-left text-xs font-medium text-white opacity-70"
        >{{ category.totalGames }}</span
      >
    </button>
  }
</div>

<div class="mb-3 overflow-hidden rounded-b-md bg-filters">
  <div class="overflow-hidden">
    <div>
      <button
        class="float-right cursor-pointer bg-transparent px-5 pb-3.5 pt-4 text-white"
        (click)="toggleAllProvidersShown()"
      >
        @if (allProvidersShown) {
          See Less
        } @else {
          See More
        }
        <img
          src="../../assets/arrow.svg"
          alt="arrow"
          class="active ml-3 inline-block w-3.5 align-baseline"
          [ngClass]="!allProvidersShown ? 'rotate-180' : ''"
        />
      </button>

      <div [ngClass]="allProvidersShown ? 'h-auto' : 'h-52'">
        <div>
          @for (provider of providers$ | async; track $index) {
            <div
              class="expandable relative inline-block filter"
              (click)="handleClick(provider, $index)"
            >
              <button
                class="link relative mx-2.5 my-0 min-h-52 cursor-pointer bg-transparent px-2.5 py-4 text-left text-sm font-medium uppercase text-primaryWhite opacity-60"
                [ngClass]="{ active: selectedIndex === $index }"
                id="filter-item-egt"
              >
                {{ provider.name }}
              </button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
