/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #1a1e23;
  color: #000;
  font-family: Roboto, Helvetica Neue, sans-serif;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  min-height: 100%;
}
